# OpenVPN 2.0 config file
# Network <%= @name %>
client
dev tun

proto <%= @protocol %>

# The hostname/IP and port of the server.
# You can have multiple remote entries
# to load balance between the servers.
remote <%= @server_host %> <%= @port %>

resolv-retry infinite
nobind

user nobody
group nogroup

persist-key
persist-tun

ca <%= @ca %>.crt
cert <%= @client_name %>.crt
key <%= @client_name %>.key  # This file should be kept secret
crl-verify <%= @ca %>_crl.pem
tls-remote <%= @server_host %>

comp-lzo
verb 4
mute 20
