# OpenVPN 2.0 config file
# Network: <%= @name %>

# Default port should be 1194
port <%= @port %>

# Default protocol is udp
proto <%= @protocol %>

# No support for TAP tunnelling
dev tun

ca <%= @ca %>.crt
crl-verify <%= @ca %>_crl.pem
cert <%= @server_name %>.crt
key <%= @server_name %>.key  # This file should be kept secret
dh <%= @name %>_dh.pem
client-config-dir "/etc/openvpn/ccd_<%=@name%>"

# Default network is 10.8.0.0
server <%= @ip %> 255.255.255.0
ifconfig-pool-persist <%= @name %>_ipp.txt
<% if @c2c then %>

# client can communicate with other clients
client-to-client
<% end %>
<% if @push then %>

# Push routes
<% @push.each do |x| %>
push "<%=x%>"
<% end %>
<% end %>

# Fixed configs
keepalive 60 720

comp-lzo

user nobody
group nogroup

persist-key
persist-tun

status openvpn-status.log
verb 4
mute 20
